body{
  background-image: url('../IMAGES/coffeepic.jpg');
  background-size: cover;
  font-family: 'Slabo 27px', serif;
  margin: 0px;
}

.author-link {
  font-family: 'Slabo 27px', serif;
}

a {
  color: #6F411C;
  font-weight: bold;
}

a:hover {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 27px;
}

.navbar-brand {
  font-family: 'Slabo 27px', serif;
  font-size: 50px;
  font-weight: normal;
  position: relative;
}

#coffee-works {
  color: #6F411C;
}

.coffeeheader {
  font-family: 'Slabo 27px', serif;
  font-size: 30px;
}

.container {
  background-color: pink;
  border-radius: 30px;
  padding: 30px;
  margin-top: 30px;
}

.fullpage {
  height: 90vh;
  width: 90vw;
}

.halfheight{
  height: 50%;
}

.mobileheight {
  position: relative;
}

.coffeeheader {
  position: absolute;
  text-align: center;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img1{
  background-image: url('../IMAGES/Cappuccino LP.jpg');
  background-size: cover;
  background-position: center;
  border-radius:30px;
}

.img2{
  background-image: url('../IMAGES/Americano LP brown.jpg');
  background-size: cover;
  background-position: center;
  border-radius:30px;
}

.img3{
  background-image: url('../IMAGES/Espresso LP brown.jpg');
  background-size: cover;
  background-position: center;
  border-radius:30px;
}

.img4{
  background-image: url('../IMAGES/Flat white LP brown.jpg');
  background-size: cover;
  background-position: center;
  border-radius:30px;
}

.img5{
  background-image: url('../IMAGES/Espresso Macchiato LP brown.jpg');
  background-size: cover;
  background-position: center;
  border-radius:30px;
}

.img6{
  background-image: url('../IMAGES/Mocha LP brown.jpg');
  background-size: cover;
  background-position: center;
  border-radius:30px;
}

.img7{
  background-image: url('../IMAGES/Caffe Latte LP brown.jpg');
  background-size: cover;
  background-position: center;
  border-radius:30px;
}
.img8{
  background-image: url('../IMAGES/Cafe au Lait LP.jpg');
  background-size: cover;
  background-position: center;
  border-radius:30px;
}

h3 {
  text-align: center;
  color: #6F411C;
  font-family: 'Slabo 27px', serif;

}
form {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 40px;
  border-radius: 30px;
}

#social-buttons button {
  color: white
}
.btn-twitter {
  background: #00acee;
  border-color: #009ad5;
}
.btn-facebook {
  background: #4868ac;
  border-color: #314776;
}
.btn-pinterest {
  background: #b62f26;
  border-color: #b62f26;
}

@media only screen and (max-width: 750px){

  .mobileheight {
    height: 100vh;
  }

  .halfheight {
    height: auto;
  }
  .buttons-center {
    margin-bottom: 20px;
    transform: translate(18%, 20%);
  }
  .desktop-buttons {
    visibility: hidden;
  }
  .mobile-buttons{
    visibility: visible;
  }

  .container {
    height: auto;
  }
  h1 {
    font-size: 36px;
  }

  form {
    position: relative;
  }

  body {
    background-size: contain;
  }
  .descrip{
    margin-top: 0%
  }
