body{
  background-image: url("../IMAGES/coffeepic.jpg");
  background-size: contain;
  font-family: 'Slabo 27px', serif;
}

img {
  width: 900px;
  height: 600%;
}

.jumbotron{
  background-color: pink;
  color:white;
  border-radius: 20px;

}
.container {
  padding: 100px;
}

.navbar-brand {
  font-family: 'Slabo 27px', serif;
  color: #6F411C;;
}

.navbar-brand, .nav-link, .dropdown-item {
  color: #6F411C;;
}

.nav-link:hover {
  color: black;
}

.dropdown-item:hover {
  color: black;
}

h1 {
  color: #6F411C;;
  font-size: 60px;
  text-align: center;
}

#social-buttons button {
  color: white
}
.btn-twitter {
  background: #00acee;
  border-color: #009ad5;
}
.btn-facebook {
  background: #4868ac;
  border-color: #314776;
}
.btn-pinterest {
  background: #b62f26;
  border-color: #b62f26;
